@font-face {
  font-family: "Audiowide";
  src: url("fonts/Audiowide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* --ifm-color-primary: #f0f0f0;
  --ifm-color-primary-dark: #f00;
  --ifm-color-primary-darker: #f00;
  --ifm-color-primary-darkest: #f00;
  --ifm-color-primary-light: #f00;
  --ifm-color-primary-lighter: #f00;
  --ifm-color-primary-lightest: #f00; */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  .navbar__title {
    font-family: "Audiowide", monospace;
    font-size: calc(var(--ifm-code-font-size) * 1.5);
    font-weight: 400;
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  /* --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf; */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
